// dashboard.scss
@import "../utils/variables";
@import "../utils/mixins";

.dashboard {
  margin: 70px 0 0 265px;
  transition: $transition;
  width: calc(100% - 250px);

  &.collapsed {
    margin-left: 30px;
    width: calc(100% - 80px);
  }

  h2,
  p {
    max-width: 100%;
    overflow: hidden;
  }

  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $grid-gap;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

.custom-tooltip {
  @include custom-tooltip;
}
