@import '../../utils/variables';

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--bg-color);
  border-radius: $dropdown-border-radius;
  box-shadow: 0 2px 4px var(--secondry);
  padding: $dropdown-padding;
  width: $dropdown-width;
  z-index: 1000;

  &::before {
    content: '';
    position: absolute;
    top: -$arrow-size;
    right: 20px;
    border-width: $arrow-size;
    border-style: solid;
    border-color: transparent transparent $dropdown-bg transparent;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    padding: $item-padding;
    font-size: $item-font-size;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;

    &:hover {
      background-color: $item-hover-bg;
    }

    &.active {
      color: $active-color;
    }

    svg {
      margin-right: 8px;
    }

    .checkmark {
      margin-left: auto;
      font-size: 12px;
      color: $active-color;
    }
  }

  .dropdown-item:first-child {
    font-weight: bold;
    color: $first-item-color;
  }

  .dropdown-item:last-child {
    color: $last-item-color;
  }
}